<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <security>
          <requestFiltering>
              <requestLimits maxAllowedContentLength="52428800" />
           
      </requestFiltering>
       
    </security>
    <staticContent>
      <clientCache cacheControlMode="DisableCache"/>
    </staticContent>
    <httpProtocol allowKeepAlive="false"/>
  </system.webServer>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true"/>
  </system.web>
</configuration>
