vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Nov 2015 20:52:16 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|index.html
vti_author:SR|LVTCORP\\pranieri
vti_modifiedby:SR|LVTCORP\\smcondra
vti_timecreated:TR|12 Nov 2015 20:09:51 -0000
vti_nexttolasttimemodified:TW|18 Nov 2015 14:59:22 -0000
vti_cacheddtm:TX|18 Nov 2015 20:52:16 -0000
vti_filesize:IR|5876
vti_cachedlinkinfo:VX|S|../assets/img/TreeNavIcon.png
vti_cachedsvcrellinks:VX|FSUS|assets/img/TreeNavIcon.png
