


<div id="mainDivContent" class="container-fluid content-area" ng-controller="TablesCtrl">
    <div class="toolbar">
            <div id="upToolbar"></div>
            
        </div>
    <br /><br />
		<div class="col-xs-12">
			<h2 class="h2-header">Database Table</h2>
  
            <button id="downloadTablesBtn" ng-click="downloadTable()" runat="server" class="k-button"><i class="fa fa-download fa-2x"> Download</i></button>
            <button id="uploadTablesBtn" ng-click="uploadTable()" runat="server" class="k-button"><i class="fa fa-upload fa-2x"> Upload</i></button><br />
            
            <div id="tableGrid">
                
        </div>

           
		</div>






    <div kendo-window id="loadWindow" k-title="'Load Table'" k-visible="false" k-options="loadWindowOpts">


            <form>
                   <input name="files" id="files" type="file" />

            </form>

                <br /><br />
                <!--<button id="uploadFileBtn" ng-click="uploadFile()" runat="server" class="float-right"><i class="fa fa-upload fa-2x"> Upload </i></button>-->

        </div>

    <div kendo-window id="newTablesWindow" k-title="'New Table'" k-visible="false" k-options="newQuotasWindowOpts">
        <button id="submitTableBtn" ng-click="submitTable()" runat="server" class="k-button"><i class="fa fa-paper-plane fa-2x"> Submit Table </i></button><br />
           <div id="loadGrid">
                
        </div>

        </div>


    </div>

 	
