vti_encoding:SR|utf8-nl
vti_author:SR|LVTCORP\\smcondra
vti_modifiedby:SR|LVTCORP\\pranieri
vti_timelastmodified:TR|25 Nov 2015 17:51:13 -0000
vti_timecreated:TR|11 Nov 2015 15:05:18 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|24 Nov 2015 20:17:47 -0000
vti_cacheddtm:TX|25 Nov 2015 17:51:13 -0000
vti_filesize:IR|18946
vti_cachedlinkinfo:VX|S|assets/img/TreeNavIconSM.png S|assets/img/DashboardIconSM.png S|assets/img/OrdersIconSM.png S|assets/img/CustomersIconSM.png S|assets/img/ProductsIconSM.png S|assets/img/HelpIconSM.png S|assets/img/DirectSalesBox.png S|assets/img/QuotaBox.png S|assets/img/TracingsBox.png S|assets/img/DirectSalesBox.png S|assets/img/QuotaBox.png S|assets/img/TracingsBox.png
vti_cachedsvcrellinks:VX|NSUS|Insight/app/components/dashboard/assets/img/TreeNavIconSM.png NSUS|Insight/app/components/dashboard/assets/img/DashboardIconSM.png NSUS|Insight/app/components/dashboard/assets/img/OrdersIconSM.png NSUS|Insight/app/components/dashboard/assets/img/CustomersIconSM.png NSUS|Insight/app/components/dashboard/assets/img/ProductsIconSM.png NSUS|Insight/app/components/dashboard/assets/img/HelpIconSM.png NSUS|Insight/app/components/dashboard/assets/img/DirectSalesBox.png NSUS|Insight/app/components/dashboard/assets/img/QuotaBox.png NSUS|Insight/app/components/dashboard/assets/img/TracingsBox.png NSUS|Insight/app/components/dashboard/assets/img/DirectSalesBox.png NSUS|Insight/app/components/dashboard/assets/img/QuotaBox.png NSUS|Insight/app/components/dashboard/assets/img/TracingsBox.png
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|utf-8
