


<div id="mainDivContent" class="container-fluid content-area" ng-controller="ProcessesCtrl">
    <div class="toolbar">
            <div id="upToolbar"></div>
        </div>
    <br /><br />
		<div class="col-xs-12">
			<h2 class="h2-header">Processes Table</h2>
  
            <button id="runProcessBtn" ng-click="runProcess()" runat="server" class="k-button"><i class="fa fa-play fa-2x"> Run Process </i></button>
            <button id="refreshBtn" ng-click="refresh()" runat="server" class="k-button"><i class="fa fa-refresh fa-2x"> Refresh </i></button>

            <div id="processGrid">
                
        </div>

           
		</div>


    </div>

 	
